/* Styles for the navigation bar */

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
.container img {
  max-width: 100%; /* Ensure the image is responsive */
  max-height: 100%; /* Ensure the image does not exceed the viewport height */
}

header {
  background-color: white; /* Changed background color to white */
}

ul {
  list-style-type: none;
  margin: 0 auto; /* Center align the ul */
  padding: 0;
  overflow: hidden;
  background-color: white; /* Background color set to white */
  text-align: center; /* Center align the list items */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center the list items horizontally */
  cursor: pointer;

}

li {
  display: inline-block; /* Make the list items inline blocks for proper spacing */
}

li a {
  /* display: block;  */
  color: black; /* Changed text color to black for better visibility on white background */
  text-align: center;
  padding: 144px 40px;
  text-decoration: none;
  /* //border-right: 1px solid #bbb; Added border to all 'a' elements within 'li' */
}







/* Ensure the main content area is displayed correctly */
main {
  padding: 20px;
}

