body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.inter-font {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; /* <weight>: Use a value from 100 to 900 */
  font-style: normal;
}
.description {
  width: 30%;
}

.active {
  display: block !important;
}

.itemContent {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-one{
  flex: 33%;
}

.flex-item-two{
  flex: 33%;
}

.flex-item-three{
  flex: 33%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
