
.image-slider {
  position: relative;
  width: 700px;
  height: 700px;
  margin: auto;
}

.image-slider img {
  width: 100%;
  height: 100%;
  display: none;
}

.image-slider img.active {
  display: block;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider-button.prev {
  left: 0;
}

.slider-button.next {
  right: 0;
}

.inter-font {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; /* <weight>: Use a value from 100 to 900 */
  font-style: normal;
}
.description {
  width: 30%;
}

.active {
  display: block !important;
}

.itemContent {
  display: none;
}