/* Styles for the heading */
h1 {
  font-size: 4.5rem; /* Adjusts the font size */
  color: #333; /* Sets the text color */
  text-align: left; /* Aligns the text to the left */
  position: absolute; /* Position absolutely relative to the nearest positioned ancestor */
  top: 140px; /* Moves the heading down by 240px */
  left: 80px; /* Moves the heading to the right by 80px */
}

/* Container styles */
.container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 600px; /* Set height for vertical alignment */
  position: relative; /* Ensure the container is the reference for absolute positioning */
}

.container img {
  max-width: 100%; /* Ensure the image is responsive */
  max-height: 100%; /* Ensure the image does not exceed the container's height */
}

/* Header styles */
header {
  background-color: white; /* Background color for the header */
  padding: 10px 0; /* Add padding around the header */
}

ul {
  list-style-type: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Ensure no content overflow */
  background-color: white; /* Background color for the navigation bar */
  text-align: center; /* Center align the list items */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center list items horizontally */
}

li {
  display: inline-block; /* Display list items inline */
  font-size: 2rem;

}

li a {
  display: block; 
  color: black; /* Text color for the links */
  text-align: center; /* Center text within links */
  padding: 20px 30px; /* Add padding for better spacing */
  text-decoration: none; /* Remove underline from links */
  display: inline-block; /* Ensure proper spacing and block display */
}

li a.active {
  font-weight: bold; /* Make active link bold */
}

/* Main content styles */
main {
  padding: 20px; /* Add padding around the main content */
  position: relative; /* Ensure the main area is positioned relative for the absolute positioning of the heading */
}
