<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Boot with HTML, CSS, JS</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> <!-- Bootstrap CSS -->

    <!-- Link to CSS in the static folder -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); /*Font*/
    </style>
  </head>
  <body>
    <header>
        <nav class="nav justify-content-center">
            <a class="nav-link active" href="/">Home  </a>
            <a class="nav-link" href="/pages/hybrid.html" style="color: rgb(139, 202, 223)">Hybrid</a>
            <a class="nav-link" href="/pages/sativa.html" style="color: rgb(255, 230, 0)">Sativa</a>
            <a class="nav-link" href="/pages/indica.html" style="color: rgb(250, 142, 160)">Indica</a>
            <a class="nav-link" href="/pages/contact.html">Contact</a>
        </nav>
    </header>




    <main>
      <h1 class="inter-font">Ultimate Trios!</h1>

      <!-- Image Slider -->
      <div class="image-slider">
        <img
          src="/image1/Bigfootmain1.png"
          alt="BigFootBuds Trio pic 1"
          class="active"
        />
        <img src="/image1/Bigfootmain2.png" alt="BigFootBuds Trio pic 2" />
        <img src="/image1/Bigfootmain3.png" alt="BigFootBuds Trio pic 3" />
        <!-- Previous and Next buttons -->
        <button class="slider-button prev" onclick="prevImage()">←</button>
        <button class="slider-button next" onclick="nextImage()">→</button>
      </div>

      <div class="logo">
        <img src="/image1/logo.png" width="500" height="500" />
      </div>

      <div class="description">
        <section>
          <h2>Description</h2>
          <p>
            The ultimate storage solution for cannabis enthusiasts who demand
            both quality and style. Crafted with care and wrapped in durable,
            rustic canvas, these jars are designed to keep your cannabis fresh,
            potent, and protected.
          </p>
        </section>
        <hr />
        <section>
          <h3>Ingredient <span onclick="toggle(event, 'ingredient')">+</span></h3>
          <p class="itemContent ingredient">
            The ultimate storage solution for cannabis enthusiasts who demand
            both quality and style.
          </p>
        </section>
        <hr />
        <section>
          <h3>Testimonials <span onclick="toggle(event, 'testimonials')">+</span></h3>
          <p class="itemContent testimonials">
            Crafted with care and wrapped in durable, rustic canvas, these jars
            are designed to keep your cannabis fresh, potent, and protected.
          </p>
        </section>
        <hr />
      </div>
    </main>

    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> <!-- Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->

  
    <!-- Link to JS in the static folder -->
  </body>
</html>
