<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot with HTML, CSS, JS</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link to CSS in the static folder -->
  
</head>
<body>
    <header>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="#news">Hybrid</a></li>
            <li><a href="#contact">Sativa</a></li>
            <li><a href="#contact">Indica</a></li>
            <li><a href="/pages/contact11.html">About</a></li>
        </ul>
    </header>
    
    <main>
        <h1>Ultimate Trios!</h1>

        <!-- Image Slider -->
        <div class="image-slider">
            <img src="/images/Bigfootmain1.png" alt="BigFootBuds Trio pic 1" class="active">
            <img src="/images/Bigfootmain2.png" alt="BigFootBuds Trio pic 2">
            <img src="/images/Bigfootmain3.png" alt="BigFootBuds Trio pic 3">
            <!-- Previous and Next buttons -->
            <button class="slider-button prev" onclick="prevImage()">←</button>
            <button class="slider-button next" onclick="nextImage()">→</button>
        </div>

        <div class="logo">
            <img src="/images/logo.png" width="500" height="500">
        </div>

    </main>

    <script src="/js1/script.js"></script> <!-- Link to JS in the static folder -->

</body>
</html>
