body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.inter-font {
  font-family: "Inter", system-ui;

.itemContent {
  display: none;
}
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

button{
  float: right;
  margin: 5px;
}

.flex-item-one{
  flex: 33%;
}

.flex-item-two{
  flex: 33%;
}

.flex-item-three{
  flex: 33%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}